:root {
  --azul: #011E36;
  --verde: #03E87A;
  --font: 'Poppins', sans-serif;

}

body {
  background: linear-gradient(to bottom, var(--azul), black);
  height: 1000px;
}

.topo {
  display: flex;
  flex-direction: row;
  height: 100px;
  background: none;
  align-items: center;
}

header .logo {
  width: 250px;
  margin-left: 25px;
  cursor: pointer;
}

header nav {
  position: absolute;
  top: 0;
  right: 0;
  padding: 35px;
}

header nav .menu {
  text-decoration: none;
  margin-right: 25px;
  color: var(--verde);
  font-weight: bolder;
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  padding: 10px 15px;
  transition: 0.8s background, border;
  border-radius: 25px;
  border: solid 2px rgba(0, 0, 0, 0);
}

header nav .menu:hover {
  background: none;
  border-radius: 25px;
  padding: 10px 15px;
  color: var(--verde);
  border: var(--verde) 2px solid;
}

header nav .menu:active {
  background: var(--verde);
  border-radius: 25px;
  color: var(--azul);
}

.fab {
  font-size: 25px;
  margin-right: 10px;
  color: gold;
  transition: all 0.5s;
  cursor: pointer;
}

.fab:hover {
  -webkit-transform: scale(1.5);
  transform: scale(1.5);
}

/*==========================================================================================*/


footer {
  background: var(--azul);
  align-items: center;
  height: auto;
}

footer .content {
  justify-content: center;
  display: flex;
  flex-direction: row;
  padding: 30px;
  margin: 0 auto;
}

.caixa {
  display: flex;
  text-align: center;
  align-items: center;
  width: 300px;
  height: auto;
}

.list-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #03E87A;
  text-decoration: none;
  font-family: 'Poppins', sans-serif;
}

.list-footer a {
  text-decoration: none;
  color: gold;
}

.container-logo {
  justify-content: center;
  text-align: center;
  align-items: center;
  margin: 0 15%;
}

.logo-footer {
  width: 250px;
}

.icons-footer {
  justify-content: center;
  align-items: center;
  margin-right: 0;
}

.icons-footer i {
  margin-right: 25px;
  font-size: 37px;
}