.caixa-listas {
  width: 1280px;
  margin: 100px auto;
}

/*DEFINICOES DO BACKGROUND DE CADA PROJETO*/
.list li {
  display: inline-block;
  margin: 1.5% 20px 1.5% 20px;
  padding: 15px;
  width: 46%;
  height: 200px;
  background-color: rgba(255, 255, 255, 0.075);
  border-radius: 25px;
  box-sizing: border-box;
  position: relative;
}


.projeto {
  align-items: center;
}

.caixa-esquerda {
  display: inline-block;
  width: 35%;
  height: 160px;
  margin: 0;
  box-sizing: border-box;
  background-image: url(../projetos/calculadora_php/calculadora_php.jpg);
  border-radius: 25px;

}

.caixa-esquerda img {
  height: 100%;
  scale: 130%;

}

.caixa-direita {
  display: inline-block;
  width: 60%;
  margin: 0px 0px 0px 15px;
  box-sizing: border-box;
  height: 100%;
  position: relative;


}

.caixa-direita h3 {
  text-transform: uppercase;
  color: gold;
  font-family: var(--font);
  font-size: x-large;
  margin: 0 0 0 15px;
}

.caixa-direita p {
  margin: 15px 0 0 15px;
  font-size: 16px;
  font-family: var(--font);
  color: whitesmoke;
}



.list a {
  text-decoration: none;
}

.list .caixa-direita {
  border-left: white solid 2px;
}