
main .apresentacao {
  display: inline-block;
  text-align: center;
}

.ban {
  display: inline-block;
  align-items: center;
  justify-content: center;
  width: auto;
  height: 800px;
}

.banner {
  margin-top: 100px;
  background: rgba(255, 0, 0, 0);
  width: 40%;
  position: relative;
  padding: 10px;
}

.arredonda-image {
  position: relative;
  margin: 0px auto;
  border: solid 3px var(--verde);
  opacity: 65%;
  border-radius: 50%;
  width: 380px;
  height: 380px;
  overflow: hidden;
  transition: all 0.5s;
}

.image {
  width: 350px;
  scale: 180%;
  margin-top: 85px;
  margin-left: 10px;
  cursor: pointer;
}

.arredonda-image:hover {
  opacity: 100%;
}

.conteudo {
  margin-top: 100px;
  position: absolute;
  width: 50%;
  font-family: 'Poppins', sans-serif;
  background: none;
  text-align: center;
}

.conteudo .titulo-paragrafo {
  margin: 50px;
  font-size: 38px;
  font-weight: bolder;
  color: gold;
}

.conteudo .texto-paragrafo {
  font-size: 20px;
  height: auto;
  color: whitesmoke;
  text-align: justify;
  line-height: 170%;
}
